<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="/css/bootstrap-grid.css")
	link(rel="stylesheet", href="/css/style.css")
	title FCC -- Anon message board
body
	main.container.d-flex.justify-content-center
		h2 Connected!